.analytics-container {
  width: 100%;
  padding: 25px;
}

.analytics-wrapper {
  transition: transform 0.3s, box-shadow 0.3s;

}

.analytics-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
}
