.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  box-shadow: 0 0 3px grey;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto; /* Center the content */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters > * {
    margin-bottom: 10px;
  }
}
